<%- include('../partials/adminHeader') %>

<div class="container-xxl flex-grow-1 container-p-y">

  <!-- Search -->
  <form action="/admin/category" id="search">
    <div class="row d-flex">
      <div class="col-11">
        <input type="text" name="query" class="form-control" placeholder="Search...">
      </div>
      <button type="submit" class="btn btn-primary col-1">Search</button>
    </div>
  </form>
  <!-- /Search -->

  <a href="/admin/add-category"><button style="margin-top: 20px;" type="button" class="btn btn-primary btn-lg">Add Category</button></a>

  <!-- Basic Bootstrap Table -->
  <div class="card" style="margin-top: 20px;">
    <h5 class="card-header">Category</h5>
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th>No</th>
            <th>Category name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <%
                         if (category.length > 0) {
                            for (let i = 0; i < category.length; i++) {
                              %>
          <tr>
            <td><strong><%= i+1 %></strong></td>
            <td><%= category[i].name %></td>
            <td>

              <a class="dropdown-item" href="/admin/edit-category?id=<%= category[i]._id %>"><i class="bx bx-edit-alt me-2"></i> Edit</a>

              <a class="dropdown-item" href="/admin/delete-category?id=<%= category[i]._id %>"><i class="bx bx-trash me-2"></i> Delete</a>

            </td>
          </tr>
          <%          
                            }
                         } else {
                           %>
          <tr>
            <td colspan="4">Category Not Found</td>
          </tr>
          <%
                         }
                      %>
          <!-- Add more rows as needed -->
        </tbody>
      </table>
    </div>
  </div>
  <!--/ Basic Bootstrap Table -->

  <!-- Pagination controls -->
  <div class="pagination" style="margin-top: 15px;">

    <% for (let i = 1; i <= totalPages; i++) { %>
    <a href="?page=<%= i %>" class="page-link"><%= i %></a>
    <% } %>

  </div>



</div>
<!-- / Content -->

<div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="../assets/vendor/libs/jquery/jquery.js"></script>
<script src="../assets/vendor/libs/popper/popper.js"></script>
<script src="../assets/vendor/js/bootstrap.js"></script>
<script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="../assets/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="../assets/vendor/libs/apex-charts/apexcharts.js"></script>

<!-- Main JS -->
<script src="../assets/js/main.js"></script>

<!-- Page JS -->
<script src="../assets/js/dashboards-analytics.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Hide the loading spinner
    document.getElementById("loading-spinner").style.display = "none";
    // Display the content
    document.getElementById("content").style.display = "block";
  });
</script>

</body>

</html>