<%- include('../partials/adminHeader') %>

<div class="container-xxl flex-grow-1 container-p-y">
  <h4 class="fw-bold mb-4">Edit Banner</h4>

  <!-- Basic Layout & Basic with Icons -->
  <div class="row">
    <!-- Basic Layout -->
    <div class="col-xxl">
      <a class="btn btn-primary" href="/admin/banner" role="button">Back to Banner</a>
      <div class="card mb-4" style="margin-top: 20px;">

        <div style="margin-top: 5px; text-align: center; font-family: 'Poppins',sans-serif;">
          <% 
                      if(typeof message !== "undefined"){
                         %>
          <span style="color: green; font-weight: bold;"><%= message %></span>
          <%
                       }
                      %>
          <% 
                      if(typeof error !== "undefined"){
                         %>
          <span style="color:#f00; font-weight: bold;"><%= error %></span>
          <%
                       }
                      %>
        </div>

        <div class="card-body">
          <form method="post" action="/admin/edit-banner">

            <input type="hidden" name="id" value="<%= banners._id %>">

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="basic-default-name">Small title</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="basic-default-name" placeholder="Name" name="name" value="<%= banners.name %>" />
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="basic-default-name">Title</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="basic-default-name" placeholder="Title of banner" name="title" value="<%= banners.title %>" />
              </div>
            </div>

            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="basic-default-name">Category:</label>
              <div class="col-sm-10">
                <select class="form-control border border-primary" id="basic-default-name" name="category">
                  <% if(banners.category !== null) { %>
                  <option value="<%= banners.category._id %>"><%= banners.category.name %></option>
                  <% categories.forEach(category => { if(banners.category.name != category.name){%>
                  <option value="<%= category._id %>"><%= category.name %></option>
                  <% }}); %>
                  <% } else { %>
                  <% categories.forEach(category => {%>
                  <option value="<%= category._id %>"><%= category.name %></option>
                  <% }); %>
                  <% } %>
                </select><br>
              </div>
            </div>

            <div class="row justify-content-end">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Edit banner</button>
              </div>
            </div>

          </form>
          <% if (banners.image !== "") { %>
          <div class="card mt-3" style="background-color: #eeeeee;">
            <div class="card-header">
              Preview Image
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-4">
                  <figure>
                    <img src="<%= banners.image %>" alt="img" class="preview" id="preview-img" style="max-width: 250px; object-fit: contain;" />
                    <input type="hidden" name="image" value="<%= banners.image %>">
                    <div class="">
                      <a href="/admin/deletePhoto-banner?id=<%= banners._id %>" class="btn btn-danger mt-3">Delete</a>
                    </div>
                  </figure>
                </div>
              </div>
            </div>
          </div>
          <% } %>
          <% if (banners.image === "") { %>
          <div class="card mt-3" style="background-color: #eeeeee;">
            <div class="card-header">
              Upload Banner Image
            </div>
            <div class="card-body">
              <form action="/admin/uploadPhoto-banner?_method=PATCH&id=<%= banners._id %>" method="post" enctype="multipart/form-data">
                <div class="mb-3" id="appendError">
                  <input type="file" accept="image/*" name="image" class="form-control file-upload-info" placeholder="Upload Image" id="preview-input" />
                </div>
                <div class="d-grid">
                  <button type="submit" class="btn btn-primary">Upload</button>
                </div>
              </form>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <!-- Basic with Icons -->
  </div>
</div>
<!-- / Content -->

<div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="../assets/vendor/libs/jquery/jquery.js"></script>
<script src="../assets/vendor/libs/popper/popper.js"></script>
<script src="../assets/vendor/js/bootstrap.js"></script>
<script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="../assets/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="../assets/vendor/libs/apex-charts/apexcharts.js"></script>

<!-- Main JS -->
<script src="../assets/js/main.js"></script>

<!-- Page JS -->
<script src="../assets/js/dashboards-analytics.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>