<%- include('../partials/adminHeader') %>

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold mb-4">Edit product</h4>

              <!-- Basic Layout & Basic with Icons -->
              <div class="row">
                <!-- Basic Layout -->
                <div class="col-xxl">
                  <a class="btn btn-primary" href="/admin/product" role="button">Back to Product</a>
                  <div class="card mb-4" style="margin-top: 20px;">

                    <div style="margin-top: 5px; text-align: center; font-family: 'Poppins',sans-serif;">
                      <% 
                      if(typeof message !== "undefined"){
                         %>
                           <span style="color: green; font-weight: bold;"><%= message %></span>
                         <%
                       }
                      %>
                      <% 
                      if(typeof error !== "undefined"){
                         %>
                           <span style="color:#f00; font-weight: bold;"><%= error %></span>
                         <%
                       }
                      %>
                  </div>

                    <div class="card-body">
                      <form method="post" action="/admin/edit-product">

                        <input type="hidden" name="id" value="<%= products._id %>">

                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-name">Product name</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="basic-default-name" placeholder="product name" name="name" value="<%= products.name %>"/>
                          </div>
                        </div>

                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-name">Price</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="basic-default-name" placeholder="Price of the product" name="price" value="<%= products.price %>"/>
                          </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name">Description</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="basic-default-name" placeholder="Description of the product" name="description" value="<%= products.description %>"/>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label" for="basic-default-name">Brand</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="basic-default-name" placeholder="Brand name of the product" name="brand" value="<%= products.brand %>"/>
                            </div>
                        </div>

                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-name">Stock</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="basic-default-name" placeholder="How many stock" name="stock" value="<%= products.stock %>"/>
                          </div>
                        </div>
 
                        <div class="row mb-3">
                          <label class="col-sm-2 col-form-label" for="basic-default-name">Category:</label>
                          <div class="col-sm-10">
                             <select class="form-control border border-primary" id="basic-default-name" name="category">
                               <% if(products.category !== null) { %>
                               <option value="<%= products.category._id %>"><%= products.category.name %></option>
                                <% categories.forEach(category => { if(products.category.name != category.name){%>
                                <option value="<%= category._id %>"><%= category.name %></option>
                                <% }}); %>
                               <% } else { %>
                                <% categories.forEach(category => {%>
                                <option value="<%= category._id %>"><%= category.name %></option>
                                <% }); %>
                               <% } %>
                             </select><br>
                          </div>
                        </div>

                        <div class="row justify-content-end">
                          <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Edit product</button>
                          </div>
                        </div>
                  
                      </form>
                      <% if (products.images.length) { %>
                  <div class="card mt-3" style="background-color: #eeeeee;">
                    <div class="card-header">
                        Preview Image
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <% products.images.forEach(img => { %>
                          <div class="col-4">
                            <figure>
                              <img src="<%= img %>" alt="img" class="preview" id="preview-img" style="max-width: 250px; object-fit: contain;" />
                              <form action="/admin/products/<%= products._id %>/img/delete?_method=DELETE" method="post" class="mt-3">
                                <input type="hidden" name="image" value="<%= img %>">
                                <div class="">
                                  <button type="submit" class="btn btn-danger">Delete</button>
                                </div>
                              </form>
                            </figure>
                          </div>
                        <% }) %>
                      </div>
                    </div>
                  </div>
                <% } %>
                <% if (products.images.length < 3) { %>
                  <div class="card mt-3" style="background-color: #eeeeee;">
                    <div class="card-header">
                      Upload Image
                    </div>
                    <div class="card-body">
                      <form action="/admin/products/<%= products._id %>/img/add?_method=PATCH" method="post" enctype="multipart/form-data" id="uploadImg">
                        <div class="mb-3" id="appendError">
                          <input type="file" accept="image/*" <%= products.images.length > 1 ? '' : 'multiple' %> name="images" class="form-control file-upload-info" placeholder="Upload Image" id="preview-input" />
                        </div>
                        <div class="d-grid">
                          <button type="submit" class="btn btn-primary">Upload</button>
                        </div>
                      </form>
                    </div>
                  </div>
                <% } %>
                    </div>
                  </div>
                </div>
                <!-- Basic with Icons -->
              </div>
            </div>
            <!-- / Content -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="../assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>