<%- include('../partials/adminHeader') %>

<div class="container-xxl flex-grow-1 container-p-y">

  <!-- Search -->
  <form action="/admin/product" id="search">
    <div class="row d-flex">
      <div class="col-md-11">
        <input style="display: inline;" type="text" name="query" class="form-control" placeholder="Search product name...">
      </div>
      <button type="submit" class="btn btn-primary col-md-1">Search</button>
    </div>
  </form>
  <!-- /Search -->

  <form action="/admin/product" id="search" style="margin-top: 15px;">
    <div class="row d-flex">
      <!-- Category filter dropdown -->
      <div class="col-md-5">
        <select name="category" class="form-select">
          <option value="">All Categories</option>
          <% for (let i = 0; i < categories.length; i++) { %>
          <option value="<%= categories[i]._id %>"><%= categories[i].name %></option>
          <% } %>
        </select>
      </div>

      <!-- Brand filter dropdown -->
      <div class="col-md-5">
        <select name="brand" class="form-select">
          <option value="">All Brands</option>
          <% for (let i = 0; i < brands.length; i++) { %>
          <option value="<%= brands[i] %>"><%= brands[i] %></option>
          <% } %>
        </select>
      </div>

      <button type="submit" class="btn btn-primary col-lg-2">Filter</button>

    </div>

  </form>

  <a href="/admin/add-product"><button style="margin-top: 20px;" type="button" class="btn btn-primary btn-lg">Add product</button></a>

  <!-- Basic Bootstrap Table -->
  <div class="card" style="margin-top: 20px;">
    <h5 class="card-header">Products</h5>
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead>
          <tr>
            <th>Product image</th>
            <th>Product Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <%
                         if (products.length > 0) {
                            for (let i = 0; i < products.length; i++) {
                              %>
          <tr>
            <td>
              <div class="row">
                <div class="col-4">
                  <img src="<%= products[i].images[0] %>" alt="" class="img-click" style="width: 60px; height: 70px;">
                </div>
              </div>
            </td>
            <td><%= products[i].name %></td>
            <td><%= products[i].brand %></td>
            <td>
              <% if(products[i].category !== null) { %>
              <%= products[i].category.name %>
              <% } else { %>
              <span class="text-danger">Not mention</span>
              <% } %>
            </td>
            <td>₹<%= products[i].price %></td>
            <td><%= products[i].stock %></td>
            <td>

              <a class="dropdown-item" href="/admin/edit-product?id=<%= products[i]._id %>"><i class="bx bx-edit-alt me-2"></i> Edit</a>

              <a class="dropdown-item" href="/admin/delete-product?id=<%= products[i]._id %>"></i> </a>

            </td>
          </tr>
          <%          
                            }
                         } else {
                           %>
          <tr>
            <td colspan="6">Products Not Found</td>
          </tr>
          <%
                         }
                      %>
          <!-- Add more rows as needed -->
        </tbody>
      </table>
    </div>
  </div>
  <!--/ Basic Bootstrap Table -->
  <!-- Display products here -->

  <!-- Pagination controls -->
  <div class="pagination" style="margin-top: 15px;">

    <% for (let i = 1; i <= totalPages; i++) { %>
    <a href="?page=<%= i %>" class="page-link"><%= i %></a>
    <% } %>

  </div>
</div>
<!-- / Content -->

<div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
</div>
<!-- / Layout page -->
</div>

<!-- Overlay -->
<div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="../assets/vendor/libs/jquery/jquery.js"></script>
<script src="../assets/vendor/libs/popper/popper.js"></script>
<script src="../assets/vendor/js/bootstrap.js"></script>
<script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="../assets/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="../assets/vendor/libs/apex-charts/apexcharts.js"></script>

<!-- Main JS -->
<script src="../assets/js/main.js"></script>

<!-- Page JS -->
<script src="../assets/js/dashboards-analytics.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Hide the loading spinner
    document.getElementById("loading-spinner").style.display = "none";
    // Display the content
    document.getElementById("content").style.display = "block";
  });
</script>

</body>

</html>