<%- include('../partials/adminHeader') %>

            <div class="container-xxl flex-grow-1 container-p-y">

              <!-- Search -->
              <form action="/admin/users" id="search">
                <div class="row d-flex">
                  <div class="col-11">
                    <input type="text" name="query" class="form-control" placeholder="Search...">
                  </div>
                  <button type="submit" class="btn btn-primary col-1">Search</button>
                </div>
              </form>
              <!-- /Search -->

              <!-- Basic Bootstrap Table -->
              <div style="margin-top: 15px;" class="card">
                <h5 class="card-header">Users</h5>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>verified</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                      <%
                         if (users.length > 0) {
                            for (let i = 0; i < users.length; i++) {
                              %>
                               <tr>
                                 <td><strong><%= users[i].username %></strong></td>
                                 <td><%= users[i].email %></td>
                                 <td><%= users[i].mobile %></td>
                                 <td><%
                                      if (users[i].verified === false) {
                                        %>
                                        <span class="badge bg-label-warning me-1">Not verified</span>
                                        <%
                                      } else {
                                        %>
                                        <span class="badge bg-label-success me-1">Verified</span>
                                        <%
                                      }
                                  %></td>
                                  <td><%
                                      if (users[i].blocked === true) {
                                        %>
                                        <a class="btn btn-outline-success" href="/admin/unblock-user?id=<%= users[i]._id %>"
                                        >Unblock</a>
                                        <%
                                      } else {
                                        %>
                                        <a class="btn btn-outline-danger" href="/admin/block-user?id=<%= users[i]._id %>"
                                        >Block</a>
                                        <%
                                      }
                                  %></td>
                               </tr>
                              <%          
                            }
                         } else {
                           %>
                            <tr>
                              <td colspan="5">Users Not Found</td>
                            </tr>
                           <%
                         }
                      %>
                      <!-- Add more rows as needed -->
                    </tbody>
                  </table>
                </div>
              </div>
              <!--/ Basic Bootstrap Table -->
              <!-- Pagination controls -->
              <div class="pagination" style="margin-top: 15px;">

                  <% for (let i = 1; i <= totalPages; i++) { %>
                    <a href="?page=<%= i %>" class="page-link"><%= i %></a>
                  <% } %>

              </div>


            </div>
            <!-- / Content -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="../assets/vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="../assets/js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
